.info-container{
    /* position: fixed; */
    top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;

    /* width: 100%; */
}

.info-wrapper{
    padding: 30px 20px;
    background-color: rgba(240, 248, 248, 0.384);
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}
.info-wrapper h2{
    margin: 0px;
}

.person-info{
    display: flex;
    align-items: center;
    background-color: lightsteelblue;
    border-radius: 10px;
}
.person-info img{
    height: 60px;
    width: 60px;
}
.person-info div p,h3{
    margin: 0px 0px;
}
.bmi-info{
    display: flex;
    justify-content: space-around;
    background-color: #F2F4FA;
    border-radius: 10px;
    padding: 20px 15px;
}
.bmi-info div p{
    margin: 0px;
}
.break-info{
    display: flex;
    justify-content: space-between;
    background-color: lightsteelblue;
    padding: 15px;
    gap: 10px;
    border-radius: 10px;

}
.break-info button{
    margin: 0px;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    border:none;
    cursor: pointer;
}
.exercise-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.exercise-info div{
    border-radius: 10px;
}

.complete-btn{
    padding: 20px 0px;
    border: none;
    border-radius: 10px;
    background-color: cadetblue;
    cursor: pointer;
}